<html>
<head>
    <title>Shop SL</title>
    <style>
        .shadowbox {
        margin-left: 18em;
        width: 25em;
        height: 20em;
        border: 1px solid #333;
        box-shadow: 8px 8px 5px #444;
        padding: 8px 20px;
        background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
                    }
    </style>
</head>
<body style="background: #FFF7DF">
    <form method="post">
        <div style="margin-top: 20em;margin-left: 33em;width: 38.3em; height:15em;border: 2px solid;border-color: #ebe9e9;">
            <input class="text"  type="text" name="login" id="login" placeholder="Логин" style="width: 40em;height: 3em;background: #E6E6FA;box-shadow: 0 0 2px;border-color: #E6E6FA;border-style: solid; margin-top: 2em; margin-left: 3em;"/><br>
            <input class="text"  type="password" name="password" id="password" placeholder="Пароль"style="width: 40em;height: 3em;background: #E6E6FA;box-shadow: 0 0 2px;border-color: #E6E6FA;border-style: solid;margin-top: 2em; margin-left: 3em;"/><br>
            <input class="button" type="submit" name="submit" value="OK"  style="margin-top: 2em;width: 10em;height: 3em;background: white;color: black;border: 0.1px solid;box-shadow: 0 0 2px; margin-left: 3em;"><br>
        </div>
    </form>

</body>
</html>