{% extends 'header.html' %}

{% block title%}
    <title>Shop SL</title>
{% endblock%}

{% block body %}
<body>
<style>
        .avto {
        margin-top: 4em;
        margin-left: 14em;
        width: 70em;
        height: 15em;
        border: 1px solid #333;
        box-shadow: 2px 2px 2px #444;
        padding: 8px 20px;
        background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
         }
        </style>

    <script>
        let urlNew = new URL(window.location.href);
        var myJSON = JSON.stringify(urlNew);
        var s = myJSON.split('/');
        let n = Number(s[4]);
        alert(n);
        if(n==1){
        window.location.href = "http://127.0.0.1:5000/menu";
        }
    </script>


</body>
{% endblock %}