<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet"  type="text/css">
    {% block title %} {% endblock %}
</head>
<body>
<div  style="background-color: #a0c0f0; width: 1700px; height: 100px;  margin-top: -10px;   margin-left: -5px;  box-shadow: 1px 1px 8px #444; ">
    <div>
    <p style="margin-left: 20em; padding-top: 2em; "><b>Язык</b></p>
        <p style="padding-left: 20em; padding-top: -5em; "><b>Мова</b></p>
    </div>
    <style>
    A {
         text-decoration: none; /* Убирает подчеркивание для ссылок */
         color: black;
    }
    </style>
    <div style="background-color: red; width: 5em;  height: 5em; border-radius: 10em; padding-top: 0em; margin-top: -6em; margin-left: 2em; border: 1px solid #333;box-shadow: 4px 4px 3px #444">
            <a href=" "><h4 style="font-size: 40; margin-top: 0.5em; padding-left: 0.4em;">SL</h4></a>
    </div>
    <div style="margin-left: 50em; width: 11em;  height: 2em; border-color: #F2F3FB ; margin-top: -3em; font-size: 20; box-shadow: 1px 1px 1px 1px #444; border: 0.5px solid #246ddc; ">
               <a href=" "><p  style="margin-top: 0.6em; padding-left: 1em"><b>Мой профиль</b></p></a>
    </div>
    <div  style="margin-left: 70em; width: 11em;  height: 2em; border-color: #F2F3FB ; margin-top: -2.1em; font-size: 20; box-shadow: 1px 1px 1px 1px #444; border: 0.5px solid #246ddc; ">
                <p style="margin-top: 0.6em; padding-left: 1em"><b>Подать объявление</b></p>
    </div>
    </div>
                <div style="margin-top: 2em; margin-left: 30em; font-size: 20">
                        <h4 >Тут вы сможете найти все, что душе угодно!</h4>
                </div>
        <div style="background-color: #F2F3FB; width: 50em;  height: 3em; border-radius: 10em; padding-top: 0em; margin-top: 2em; margin-left: 25em;  border: 1px solid #333;box-shadow: 8px 8px 5px #444; padding: 8px 20px;">
                            <div style=" width: 0.1em;  height: 3em; margin-left: 39em;background-color: black;"></div>
                            <p style="padding-left: 33em; margin-top: -2em; font-size:20">Поиск</p>
                            <img src="{{ url_for('static', filename='lupa.png', ) }}" style="width: 25px; height: 25px; margin-left: 45em; margin-top: -2.7em; border-radius: 50%">
        </div>
      {% block body %} {% endblock %}
</body>
</html>


