{% extends 'header.html' %}

{% block title%}
    <title>Shop SL</title>
{% endblock%}

{% block body %}
<body>
<style>
        .category-block-text{
        display: block;
        margin-left: 4em;
        padding-top:20px
        }
    </style>

<!--<link href="one.css" rel="stylesheet" type="text/css">-->
<div>

                <h4 style="margin-top: 3em; margin-left:27em; font-size: 27px">Рубрики</h4>
</div>

                    <table style="padding-top: 1em; text-align: center; margin-left: 6em;" id="table">
                        <tr>
                             <td>
                             <a href="">
                               <img src="{{ url_for('static', filename='otdam_darom.jpeg', ) }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                <b class="category-block-text">Отдам даром</b>
                            </a>
                            </td>
                            <td>
                                <a href="">
                                    <img src="{{ url_for('static', filename='phone.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Электроника</b>
                                </a>
                            </td>
                            <td>
                                <a href="">
                                    <img src="{{ url_for('static', filename='avto.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Авто</b>
                                </a>

                            </td>
                            <td>
                                <a href="">
                                    <img src="{{ url_for('static', filename='dog.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Животные</b>
                                </a>
                             </td>
                            <td>
                                <a id="kids" href="" >
                                <img src="{{ url_for('static', filename='kids.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Детские товары</b>
                                </a>
                            </td>
                            <td>
                                <a href="">
                                    <img src="{{ url_for('static', filename='help.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Взаимопомощь</b>
                                </a>
                            </td>
                        </tr>
                    </table>
</body>
{% endblock %}
