{% extends 'header.html' %}

{% block title%}
    <title>Shop SL</title>
{% endblock%}

{% block body %}
<body>
<style>
        .category-block-text
        {
            display: block;
            margin-left: 4em;
            padding-top:20px
        }
        .shadowbox {
          width: 15em;
          border: 1px solid #333;
          box-shadow: 8px 8px 5px #444;
          padding: 8px 12px;
          background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
        }
    </style>


<!--<link href="one.css" rel="stylesheet" type="text/css">-->
<div>

                <h4 style="margin-top: 3em; margin-left:27em; font-size: 27px">Рубрики</h4>
</div>

                    <table style="padding-top: 1em; text-align: center; margin-left: 6em;" id="table">
                        <tr>
                             <td>
                             <a href="http://127.0.0.1:5000/menu/1">
                               <img src="{{ url_for('static', filename='otdam_darom.jpeg', ) }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                <b class="category-block-text">Отдам даром</b>
                            </a>
                            </td>
                            <td>
                                <a href="http://127.0.0.1:5000/menu/2">
                                    <img src="{{ url_for('static', filename='phone.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Электроника</b>
                                </a>
                            </td>
                            <td>
                                <a href="http://127.0.0.1:5000/menu/3">
                                    <img src="{{ url_for('static', filename='avto.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Авто</b>
                                </a>

                            </td>
                            <td>
                                <a href="http://127.0.0.1:5000/menu/4">
                                    <img src="{{ url_for('static', filename='dog.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Животные</b>
                                </a>
                             </td>
                            <td>
                                <a id="kids" href="http://127.0.0.1:5000/menu/5" >
                                <img src="{{ url_for('static', filename='kids.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Детские товары</b>
                                </a>
                            </td>
                            <td>
                                <a href="http://127.0.0.1:5000/menu/6">
                                    <img src="{{ url_for('static', filename='help.jpeg') }}" style="width: 150px; height: 150px; margin-left: 4em; margin-top: 3em; border-radius: 50%" >
                                    <b class="category-block-text">Взаимопомощь</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <script>
                        function one()
                        {
                            const query = window.location.search.substring(1)
                            alert(query)
                        }
                    </script>
</body>
{% endblock %}
