
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<style>
        .category-block-text{
        display: block;
        margin-left: 4em;
        padding-top:20px
        }
    </style>

<link href="one.css" rel="stylesheet" type="text/css">
<div>
                    <?php require_once 'header.php';?>

                        <h4 style="margin-top: 3em; margin-left:25em; font-size: 30">Рубрики</h4>

                    </div>

                    <table style="padding-top: 1em; text-align: center; width: 100%;" id="table">
                        <tr >
                             <td>
                             <a href="http://localhost/avto.php?category=5">
                                <img src="free.jpg" style="width: 150; height: 150; margin-left: 3em; margin-top: 3em; border-radius: 50%">
                                <b class="category-block-text">Отдам даром</b>
                            </a>
                            </td>
                            <td>
                                <a href="http://localhost/avto.php?category=4">
                                    <img src="\img\phone.jpg" style="width: 150; height: 150; margin-left: 3em; margin-top: 3em; border-radius: 50%">
                                    <b class="category-block-text">Электроника</b>
                                </a>
                            </td>
                            <td>
                                <a href="http://localhost/avto.php?category=1">
                                    <img src="ae.jpg" style="width: 150; height: 150; margin-left: 3em; margin-top: 3em; border-radius: 50%">
                                    <b class="category-block-text">Авто</b>
                                </a>

                            </td>
                            <td>
                                <a href="http://localhost/avto.php?category=2">
                                    <img src="02078104.jpg" style="width: 150; height: 150; margin-left: 3em; margin-top: 3em; border-radius: 50%">
                                    <b class="category-block-text">Животные</b></td>
                                </a>
                            <td>
                                <a id="kids" href="http://localhost/avto.php?category=6" >
                                    <img src="kids.jpg" style="width: 150; height: 150; margin-left: 3em; margin-top: 3em; border-radius: 50%">
                                    <b class="category-block-text">Детские товары</b>
                                </a>
                            </td>
                            <td>
                                <a href="http://localhost/avto.php?category=3">
                                    <img src="img8.jpg" style="width: 150; height: 150; margin-left: 3em; margin-top: 3em; border-radius: 50%">
                                    <b class="category-block-text">Взаимопомощь</b>
                                </a>
                            </td>
                        </tr>
                    </table>

</div>
</body>
</html>
